<!DOCTYPE html>
<html ng-app="">
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>
<meta name="viewport" content="width=320, initial-scale=9">
<link rel="stylesheet" href="app.css">

<body ng-controller="pianoController" ng-init="getAudio()">
<div class="container">

<div id="pianobox">
  <div ng-repeat="key in whiteKeyList" class="white-key piano-key" id="key{{key}}" ng-click="play(key)"></div>
  <div ng-repeat="key in blackKeyList" class="black-key piano-key" id="key{{key}}" ng-click="play(key)"></div>
</div>

<script src = "app.js"></script>

</body>
</html>
