body{

}

#pianobox{
  /*-webkit-transform: scale(2,2);
  transform: scale(2,2);*/
  position: absolute;
  background-color: black;
  border-top-color: red;
  border-top-style: solid;
  border-top-width: 2px;
  width:  281px;
  height: 121px;
}

.blackKey{
  top:      0;
  width:    15px;
  height:   70px;
  z-index:  2;
  background-color: black;
  text-align: center;
  border-left-width: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  font-size: 10px;
  color: white;
}

.whiteKey{
  top: 0;
  width: 19px;
  height: 120px;
  z-index: 1;
  background-color: white;
  text-align: center;
  border-radius: 2px;
}

#key1  {position: absolute;left: 013px;} #key1:hover{background-color:blue;}
#key3  {position: absolute;left: 033px;} #key3:hover{background-color:blue;}
#key6  {position: absolute;left: 073px;} #key6:hover{background-color:blue;}
#key8  {position: absolute;left: 093px;} #key8:hover{background-color:blue;}
#key10 {position: absolute;left: 113px;} #key10:hover{background-color:blue;}
#key13 {position: absolute;left: 153px;} #key13:hover{background-color:blue;}
#key15 {position: absolute;left: 173px;} #key15:hover{background-color:blue;}
#key18 {position: absolute;left: 213px;} #key18:hover{background-color:blue;}
#key20 {position: absolute;left: 233px;} #key20:hover{background-color:blue;}
#key22 {position: absolute;left: 253px;} #key22:hover{background-color:blue;}

#key0   {position: absolute;left: 001px;} #key0:hover{background-color:blue;}
#key2   {position: absolute;left: 021px;} #key2:hover{background-color:blue;}
#key4   {position: absolute;left: 041px;} #key4:hover{background-color:blue;}
#key5   {position: absolute;left: 061px;} #key5:hover{background-color:blue;}
#key7   {position: absolute;left: 081px;} #key7:hover{background-color:blue;}
#key9   {position: absolute;left: 101px;} #key9:hover{background-color:blue;}
#key11  {position: absolute;left: 121px;} #key11:hover{background-color:blue;}
#key12  {position: absolute;left: 141px;} #key12:hover{background-color:blue;}
#key14  {position: absolute;left: 161px;} #key14:hover{background-color:blue;}
#key16  {position: absolute;left: 181px;} #key16:hover{background-color:blue;}
#key17  {position: absolute;left: 201px;} #key17:hover{background-color:blue;}
#key19  {position: absolute;left: 221px;} #key19:hover{background-color:blue;}
#key21  {position: absolute;left: 241px;} #key21:hover{background-color:blue;}
#key23  {position: absolute;left: 261px;} #key23:hover{background-color:blue;}
